.width-90 {
    width: 90%;
    margin: auto;
  }

  body {
    margin: 0;
    overflow-x: hidden;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2;
  }

  body::-webkit-scrollbar {
    width: 0.5em;
  }

  body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #ced4da;
    box-shadow: inset 0 0 6px #ced4da;
  }

  body::-webkit-scrollbar-thumb {
    background-color: #161616;
  }

  a {
    outline: none !important;
  }

  button:focus {
    outline: none;
  }

  /*************    preloader   ************/
  .pre-loader {
    height: 100vh;
    width: 100%;
    background: #e4e5df;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    pointer-events: none;
    z-index: 999;
    -webkit-transition-duration: 700ms;
            transition-duration: 700ms;
    opacity: .99;
  }

  .pre-loader .spinner {
    margin: 100px auto;
    width: 50px;
    height: 60px;
    text-align: center;
    font-size: 10px;
  }

  .pre-loader .spinner > div {
    background-color: #47b1c1;
    height: 100%;
    width: 6px;
    display: inline-block;
    border-radius: 30px;
    -webkit-animation: sk-stretchdelay 1s infinite ease-in-out;
            animation: sk-stretchdelay 1s infinite ease-in-out;
  }

  .pre-loader .spinner .rect2 {
    -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s;
  }

  .pre-loader .spinner .rect3 {
    -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s;
  }

  .pre-loader .spinner .rect4 {
    -webkit-animation-delay: -0.7s;
            animation-delay: -0.7s;
  }

  .pre-loader .spinner .rect5 {
    -webkit-animation-delay: -0.6s;
            animation-delay: -0.6s;
  }

  .pre-loader .spinner .rect6 {
    -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s;
  }

  .pre-loader.is-loaded {
    opacity: 0;
  }

  @-webkit-keyframes sk-stretchdelay {
    0%,
    40%,
    100% {
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }
    20% {
      transform: scaleY(1);
      -webkit-transform: scaleY(1);
    }
  }

  @keyframes sk-stretchdelay {
    0%,
    40%,
    100% {
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }
    20% {
      transform: scaleY(1);
      -webkit-transform: scaleY(1);
    }
  }

  @-webkit-keyframes sticky {
    0% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
      opacity: 1;
    }
  }

  @keyframes sticky {
    0% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
      opacity: 1;
    }
  }

  .animated-icon {
    width: 40px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    z-index: 99;
    cursor: pointer;
  }

  .animated-icon span {
    background: #47b1c1;
    display: block;
    position: absolute;
    height: 5px;
    width: 40px;
    border-radius: 20px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

  .animated-icon span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
            transform-origin: left center;
    width: 20px;
  }

  .animated-icon span:nth-child(2) {
    top: 10px;
    -webkit-transform-origin: left center;
            transform-origin: left center;
  }

  .animated-icon span:nth-child(3) {
    top: 20px;
    -webkit-transform-origin: left center;
            transform-origin: left center;
    width: 20px;
    position: relative;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    -webkit-transition-delay: .1s;
            transition-delay: .1s;
    float: right;
  }

  .animated-icon.open span {
    background: #47b1c1;
  }

  .animated-icon.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 0px;
    left: 8px;
    width: 30px;
  }

  .animated-icon.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }

  .animated-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 21px;
    left: 8px;
    float: left;
    width: 30px;
  }

  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
  }

  .landing-page {
    position: relative;
    min-height: 100vh;
  }

  .landing-page .section-right {
    min-height: 100vh;
    position: relative;
  }

  .landing-page .section-right .oxygen-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    opacity: .1;
  }

  .landing-page .section-right .login {
    width: 70%;
    margin: 0px auto;
    padding-top: 20px;
  }

  .landing-page .section-right .login .btn {
    background: #47b1c1;
    color: #fff;
    padding: 5px 40px;
    border: none;
    float: right;
    font-size: 12px;
  }

  .landing-page .section-right .login .btn:hover {
    background: #47b1c1;
  }

  .landing-page .section-right .content {
    position: relative;
    z-index: 30;
    min-height: 100vh;
  }

  .landing-page .section-right .content .form {
    width: 70%;
    margin: auto;
    -webkit-box-shadow: 5px 5px 7px 7px rgba(0, 0, 0, 0.05);
            box-shadow: 5px 5px 7px 7px rgba(0, 0, 0, 0.05);
    padding: 30px 50px;
    background: rgba(239, 239, 239, 0.8);
  }

  .landing-page .section-right .content .form .logo-wrapper {
    padding-bottom: 30px;
  }

  .landing-page .section-right .content .form .logo-wrapper img {
    max-width: 100%;
    height: auto;
    max-width: 200px;
    margin: auto;
  }

  .landing-page .section-right .content .form #loginform input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(71, 177, 193, 0.5);
  }

  .landing-page .section-right .content .form #loginform input.button {
    background: #47b1c1;
    color: #fff;
    padding: 8px 60px;
    border: none;
    border-radius: 5px;
  }

  .landing-page .section-right .content .form #loginform input.button:hover {
    background: #47b1c1;
  }

  .landing-page .section-right .content .form #loginform p.login-username input, .landing-page .section-right .content .form #loginform p.login-password input {
    width: 100%;
  }

  .landing-page .section-right .copyright {
    width: 70%;
    margin: 0px auto;
    padding: 10px 0px 0px 0px;
    text-align: right;
    font-size: 12px;
  }

  .landing-page .section-right .copyright a {
    color: #47b1c1;
  }

  .landing-page .section-right .copyright a:hover {
    color: #47b1c1;
  }

  .landing-page .section-right.register .ipt-uif-custom-material-custom .ipt-eform-content {
    background-color: #ffffff5c;
  }

  .landing-page .section-right.register .login {
    width: 90%;
  }

  .landing-page .section-right.register .content .form {
    width: 90%;
    margin: auto;
    padding: 15px 30px;
  }

  .landing-page .landing-banner-slider .slider-item {
    height: 100vh;
    position: relative;
  }

  .landing-page .landing-banner-slider .slider-item:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: -webkit-gradient(linear, left bottom, left top, from(black), color-stop(40%, rgba(71, 177, 193, 0)));
    background: linear-gradient(to top, black 0%, rgba(71, 177, 193, 0) 40%);
  }

  .landing-page .landing-banner-slider .slider-item img {
    height: 100%;
    width: 110%;
    overflow: hidden;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .landing-page .landing-banner-slider .owl-dots {
    position: absolute;
    bottom: 3%;
    right: 10%;
  }

  .landing-page .landing-banner-slider .owl-dots .owl-dot span {
    width: 5px;
    height: 25px;
    border-radius: 2px;
    -webkit-transition-duration: 300ms;
            transition-duration: 300ms;
    background: #47b1c1;
    -webkit-transition-duration: 500ms;
            transition-duration: 500ms;
    margin: 5px 4px;
  }

  .landing-page .landing-banner-slider .owl-dots .owl-dot.active span {
    height: 50px;
    background: #fff;
  }

  #particles-js {
    height: 100%;
    background-color: transparent;
    width: 100%;
    z-index: 10;
    position: absolute;
    opacity: .5;
  }

/*==== LOGIN STYLES ====*/

.landing-page{
    overflow: hidden;
}

